<!DOCTYPE html>
<html>

  <head>
    <link type="text/css" rel="stylesheet" href="build/deps.css" />
    <link type="text/css" rel="stylesheet" href="build/bundle.css" />

    <script>
      (function(){
        var needPolyfills = !('fetch' in window && 'assign' in Object);
        if(needPolyfills){
          var script = document.createElement('script');
          script.defer = true;
          script.src = '/polyfills.js';
          document.head.appendChild(script);
        }
      })();
    </script>

    <script defer src="build/deps.js"></script>
    <script defer src="build/main.js"></script>
  </head>

  <body>
    TODO write your clientside app
  </body>

</html>
