<!DOCTYPE html>
<html>

  <head>
    <script src="../build/bundle.js"></script>

    {{#buildCss}}<link rel="stylesheet" href="../build/bundle.css"/>{{/buildCss}}

    <script>
      function appendLivereloadScript(){
        var script = document.createElement('script');
        script.src = 'http://' + window.location.hostname + ':35729/livereload.js';

        document.head.insertBefore( script, document.head.firstChild );
      };

      function domReady( fn ){
        switch( document.readyState ){
          case 'complete':
          case 'interactive':
            setTimeout( fn, 0 );
            break;
          default:
            window.addEventListener( 'DOMContentLoaded', fn );
        }
      };

      domReady( appendLivereloadScript );
    </script>
  </head>

  <body>
    <p>Maybe your lib could use a demo or just a livereload test page?</p>

    <p>TODO write your demo</p>
  </body>

</html>
